
/src/Spring.Messaging.Amqp/obj
/src/Spring.Messaging.Amqp/bin
/src/Spring.Messaging.Amqp.Qpid-0-8-0.8/Spring.Messaging.Amqp.Qpid-0-8-0.8/obj
/src/Spring.Messaging.Amqp.Qpid-0-8-0.8/Spring.Messaging.Amqp.Qpid-0-8-0.8/bin
/src/Spring.Messaging.Amqp.Qpid-0-10-0.8/Spring.Messaging.Amqp.Qpid-0-10-0.8/obj
/src/Spring.Messaging.Amqp.Qpid-0-10-0.8/Spring.Messaging.Amqp.Qpid-0-10-0.8/bin
/src/Spring.Messaging.Amqp.Rabbit/obj
/src/Spring.Messaging.Amqp.Rabbit/bin
/test/Spring.Messaging.Amqp.Qpid-0-10-0.8.Tests/Spring.Messaging.Amqp.Qpid-0-10-0.8.Tests/obj
/test/Spring.Messaging.Amqp.Qpid-0-10-0.8.Tests/Spring.Messaging.Amqp.Qpid-0-10-0.8.Tests/bin
/test/Spring.Messaging.Amqp.Rabbit.Tests/obj
/test/Spring.Messaging.Amqp.Rabbit.Tests/bin
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Client/obj
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Client/bin
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Common/obj
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Common/bin
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Server/obj
/examples/Spring.RabbitQuickStart/src/Spring/Spring.RabbitQuickStart.Server/bin
/src/Spring.Erlang/obj
/src/Spring.Erlang/bin
/src/Spring.Messaging.Amqp.Rabbit.Admin/obj
/src/Spring.Messaging.Amqp.Rabbit.Admin/bin
/test/Spring.Erlang.Tests/obj
/test/Spring.Erlang.Tests/bin
/test/Spring.Messaging.Amqp.Rabbit.Admin.Tests/obj
/test/Spring.Messaging.Amqp.Rabbit.Admin.Tests/bin
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.BrokerConfiguration/obj
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.BrokerConfiguration/bin
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Consumer/obj
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Consumer/bin
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Producer/obj
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Producer/bin
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Producer.Async/obj
/examples/Spring.Amqp.HelloWorld/Spring.Amqp.HelloWorld.Producer.Async/bin
/examples/Spring.Amqp.HelloWorld.Consumer.Async/Spring.Amqp.HelloWorld.Consumer.Async/obj
/examples/Spring.Amqp.HelloWorld.Consumer.Async/Spring.Amqp.HelloWorld.Consumer.Async/bin
/*.Messaging.Amqp.2008.4.5.resharper.user
/*.Messaging.Amqp.2010.5.1.ReSharper.user
/*.Messaging.Amqp.2008.sln.cache
/*.Messaging.Amqp.2008.suo
/*.Messaging.Amqp.2010.sln.cache
/*.Messaging.Amqp.2010.suo
/*.Amqp.build~
/_ReSharper.Spring.Messaging.Amqp.2008/
/_ReSharper.Spring.Messaging.Amqp.2010/
/bin/
*.csproj.user
/_ReSharper.Spring.Messaging.Amqp.2010-40/
