#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.suo
*.bak
*.log
*.[Cc]ache
[Oo]bj
src/**/[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Build log and other log files
buildlog.txt
log.txt*

/*.Amqp.build~
/package/
*.nupkg
src/CommonAssemblyInfo.cs
